body {
    margin: 0;
    padding: 0;
}

.jain-container .navbar {
    position: absolute;
    top:0;
    background-color: transparent;
    border: none;
}

.navbar-nav.nav li a{
    color: #fff;
    font-size: 18px;

}

/* #box1 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/modernJukebox.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
    
} */

/* /* #box2 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/steampunk_rock.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
} */

#box1 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/musicmind.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
} 

#box2 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/musicmind.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
} 

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 60px;
    font-style: bold;
    color: white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 20px #ff005b;
}

h1:after {
    position: absolute;
    top:0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
}

body {
    background: white;
  }
  
  /* Ganim begins */
  /***************/
  
  .canvas-interactive-wrapper {
    position: relative;
    height: 400px;
    text-align: center;
    
  }
  
  .canvas-interactive-wrapper canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid black;
    border-radius: 25px;
  }
  
  .canvas-interactive-wrapper .cta-wrapper {
    margin-top: 120px;
  }
  
  .canvas-interactive-wrapper .cta-wrapper a {
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    margin-right: 50px;
    z-index: 1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
  }
  
  .canvas-interactive-wrapper .cta-wrapper a.active {
    border-color: #222;
  }
  
  #default-state-cta {
    font-size: 80px;
    padding: 100px;
    font-family: 'Titan One', cursive;
    color: black;
  }
  
  /* Ganim Ends */
  /***************/
  
  /*Nav Bar*/

 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
  
  
  
/*   
  
  
  
  
  
  
  
  .register-background .container {
    margin-top: 11%;
    position: relative;
    z-index: 3;
  }
  
  
  .register-card {
    background-color: #bde6eb;
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    margin: 20px 0 70px;
    min-height: 400px;
    padding: 30px;
  }
  
  .register-card label {
    margin-top: 15px;
  }
  
  .register-card .title {
    color: #fff;
    text-align: center;
  }
  
  .register-card .btn {
    margin-top: 30px;
  }
  
  .register-card .forgot {
    text-align: center;
  } */

  body {
    margin: 0;
    padding: 0;
}

.jain-container .navbar {
    position: absolute;
    top:0;
    background-color: transparent;
    border: none;
}

.navbar-nav.nav li a{
    color: #fff;
    font-size: 18px;

}

/* #box1 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/modernJukebox.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
    
} */

/* /* #box2 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/steampunk_rock.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
} */

#box1 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/musicmind.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
} 

#box2 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Images/musicmind.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    opacity: 0.7;
} 

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 60px;
    font-style: bold;
    color: white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 20px #ff005b;
}

h1:after {
    position: absolute;
    top:0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
}