#signIn{
  float: right;
}
#logout{
  float: right;
}

/*Karinabranch CSS begins*/
* {
  background-origin: border-box;
}

body {
  background-color: white;
}

/* Ganim begins */
/***************/
.canvas-interactive-wrapper {
  position: relative;
  height: 400px;
  text-align: center;
  
}

.canvas-interactive-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 7px #777;
}

.canvas-interactive-wrapper .cta-wrapper {
  margin-top: 0px;
}

.canvas-interactive-wrapper .cta-wrapper a {
  position: relative;
  display: inline-block;
  padding: 3px 7px;
  margin-right: 50px;
  z-index: 1;
  text-decoration: none;
  color: #222;
  transition: border .3s;
}

.canvas-interactive-wrapper .cta-wrapper a.active {
  border-color: #222;
}

#default-state-cta {
  font-size: 80px;
  padding: 100px;
  font-family: 'Titan One', cursive;
  color: white;
  text-shadow: 3px 2px 4px #777;
}

/* Ganim Ends */
/***************/



/* Nav Bar */
/************/

.nav-section {
  width: 100%;
  padding: 10% 0; 
  padding: 0;
}

nav ul {
  width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 63px;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 40px 60px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #323642;
  transition: background-color 0.5s ease;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

  /*Nav bar ends*/
  /***********/


  /*login and signup input forms*/
  /****************************/

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 168, 168);
    box-sizing: border-box;
    background-color: rgb(216, 216, 216); /* background input boxes */
  }
  
  /* Set a style for login, signup, and cancel buttons */
  button {
    color: black;
    padding: 40px 60px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    color: #323642;
    transition: background-color 0.5s ease;
  }
  
  button:hover {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #7c7474;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;

  }
  
  img.avatar {
    height: 110px;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid black;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #534e4e;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  /*Karinabranch CSS Ends*/
